{% extends 'layout.html.twig' %}

{% block html_title %}Software Craftsmanship - Site of Jeroen De Dauw{% endblock %}

{% block body %}
    <div class="row mb-3">
        <div class="col-lg-12">
            <h1>Software Craftsmanship</h1>

            <p>
                I like getting things done. Most projects in the software industry crawl to a halt after initial
                development because most developers simply do not know the basics of software design and thus create big messes.
                Hence, my passion for and practice of <a href="http://manifesto.softwarecraftsmanship.org/">Software Craftsmanship</a>.
                With the right knowledge, you can get more things done for a lower cost, which is a win for everyone involved.
            </p>

            Subscribe to my low-traffic mailing list because you will receive news and exclusive discounts on my new book and online course:
            <div id="mc_embed_signup" style="margin-top: 0.5em">
                <form action="https://wtf.us19.list-manage.com/subscribe/post?u=5e9453f7bede9f5b0220b2c42&amp;id=9df25d9e9d" method="post"
                      id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate
                        style="padding: 0;">
                    <div id="mc_embed_signup_scroll">
                        <div>
                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email@example.com">
                            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" style="width: 100px; display: inline; padding: 0">
                        </div>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5e9453f7bede9f5b0220b2c42_9df25d9e9d" tabindex="-1" value=""></div>

                    </div>
                </form>
            </div>
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
            <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h3>Blog posts</h3>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-6">
            <strong>Software Craftsmanship</strong>
            <ul class="list-unstyled">
                {% for post in craftPosts|slice(0, 10) %}
                    <li><a href="{{ post.link|e }}">{{ post.title|raw }}</a></li>
                {% endfor %}
            </ul>
            View <a href="https://www.entropywins.wtf/blog/tag/software-craftsmanship/">all Software Craftsmanship blog posts</a>
        </div>
        <div class="col-md-6">
            <strong>Clean Code</strong>
            <ul class="list-unstyled">
                {% for post in cleanPosts|slice(0, 10) %}
                    <li><a href="{{ post.link|e }}">{{ post.title|raw }}</a></li>
                {% endfor %}
            </ul>
            View <a href="https://www.entropywins.wtf/blog/tag/clean-code/">all Clean Code blog posts</a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h3>Presentations</h3>

            <p>Note that these slides are not designed for standalone usage.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 portfolio-item">
            <div class="card h-100">
                <a href="http://bit.ly/purrfect-iterators"><img class="card-img-top" src="{{ asset('images/slides/php-iterators.png') }}" alt="An introduction to Iterators and Generators in PHP - slide preview"></a>
                <div class="card-body">
                    <p style="margin: 0">
                        <a href="https://www.entropywins.wtf/blog/2017/10/16/introduction-to-iterators-and-generators-in-php/">Blog post</a>
                        &nbsp;&bull;&nbsp; <a href="http://bit.ly/purrfect-iterators">Slides</a>
                        &nbsp;&bull;&nbsp; 2019
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 portfolio-item">
            <div class="card h-100">
                <a href="https://jeroendedauw.github.io/php-test-doubles"><img class="card-img-top" src="{{ asset('images/slides/php-test-doubles.png') }}" alt="Five ways to write better mocks in PHP - slide preview"></a>
                <div class="card-body">
                    <p style="margin: 0">
                        <a href="https://www.entropywins.wtf/blog/2016/05/13/5-ways-to-write-better-mocks/">Blog post</a>
                        &nbsp;&bull;&nbsp; <a href="https://jeroendedauw.github.io/php-test-doubles">Slides</a>
                        &nbsp;&bull;&nbsp; 2019
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 portfolio-item">
            <div class="card h-100">
                <a href="{{ app.request.basepath }}/slides/fun-architecture"><img class="card-img-top" src="{{ asset('images/slides/fun-architecture.png') }}" alt="Real world implementation of The Clean Architecture - slide preview"></a>
                <div class="card-body">
                    <p style="margin: 0">
                        <a href="https://github.com/JeroenDeDauw/fun-architecture/blob/master/README.md">Abstract</a>
                        &nbsp;&bull;&nbsp; <a href="https://www.entropywins.wtf/blog/2016/11/24/implementing-the-clean-architecture/">Blog post</a>
                        &nbsp;&bull;&nbsp; <a href="{{ app.request.basepath }}/slides/fun-architecture">Slides</a>
                        &nbsp;&bull;&nbsp; 2016-2018
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 portfolio-item">
            <div class="card h-100">
                <a href="http://bit.ly/component-design"><img class="card-img-top" src="{{ asset('images/slides/component-design.png') }}" alt="Component design - slide preview"></a>
                <div class="card-body">
                    <p style="margin: 0">
                        <a href="https://github.com/JeroenDeDauw/slides/blob/master/craftmanship/components/README.md">Abstract</a>
                        &nbsp;&bull;&nbsp; <a href="https://www.entropywins.wtf/blog/2014/07/12/component-design/">Blog post</a>
                        &nbsp;&bull;&nbsp; <a href="http://bit.ly/component-design">Slides</a>
                        &nbsp;&bull;&nbsp; 2014
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 portfolio-item">
            <div class="card h-100">
                <a href="https://jeroendedauw.github.io/slides/craftmanship/LSP"><img class="card-img-top" src="{{ asset('images/slides/liskov.png') }}" alt="The Liskov Substitution Principle - slide preview"></a>
                <div class="card-body">
                    <p style="margin: 0">
                        <a href="https://github.com/JeroenDeDauw/slides/blob/master/craftmanship/LSP/README.md">Abstract</a>
                        &nbsp;&bull;&nbsp; <a href="https://www.entropywins.wtf/blog/2016/01/24/the-liskov-substitution-principle/">Blog post</a>
                        &nbsp;&bull;&nbsp; <a href="https://jeroendedauw.github.io/slides/craftmanship/LSP">Slides</a>
                        &nbsp;&bull;&nbsp; 2014-2016
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 portfolio-item">
            <div class="card h-100">
                <a href="http://bit.ly/static-code"><img class="card-img-top" src="{{ asset('images/slides/static.png') }}" alt="Static: The S in STUPID - slide preview"></a>
                <div class="card-body">
                    <p style="margin: 0">
                        <a href="https://github.com/JeroenDeDauw/slides/blob/master/craftmanship/static/README.md">Abstract</a>
                        &nbsp;&bull;&nbsp; <a href="https://www.entropywins.wtf/blog/2013/11/15/presentation-the-s-in-stupid/">Blog post</a>
                        &nbsp;&bull;&nbsp; <a href="http://bit.ly/static-code">Slides</a>
                        &nbsp;&bull;&nbsp; 2013
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 portfolio-item">
            <div class="card h-100">
                <a href="http://bit.ly/clean-functions"><img class="card-img-top" src="{{ asset('images/slides/clean-functions.png') }}" alt="Clean Functions - slide preview"></a>
                <div class="card-body">
                    <p style="margin: 0">
                        <a href="https://github.com/JeroenDeDauw/slides/blob/master/craftmanship/functions/README.md">Abstract</a>
                        &nbsp;&bull;&nbsp; <a href="https://www.entropywins.wtf/blog/2013/09/08/clean-functions/">Blog post</a>
                        &nbsp;&bull;&nbsp; <a href="http://bit.ly/clean-functions">Slides</a>
                        &nbsp;&bull;&nbsp; 2013-2014
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 mb-4">
            <h3>Recommended reading</h3>

            <h4>Software Craftsmanship</h4>

            {% markdown %}
* [The Clean Coder: A Code of Conduct for Professional Programmers](https://www.goodreads.com/book/show/10284614-the-clean-coder), Robert C. Martin, 2011
* [The Software Craftsman: Professionalism, Pragmatism, Pride](https://www.goodreads.com/book/show/23215733-the-software-craftsman), Sandro Mancuso, 2014
* [Apprenticeship Patterns: Guidance for the Aspiring Software Craftsman](https://www.goodreads.com/book/show/5608045-apprenticeship-patterns), Dave Hoover and Adewale Oshineye , 2009
* [Agile Technical Practices Distilled](https://www.goodreads.com/book/show/41758433-agile-technical-practices-distilled), Pedro Moreira Santos, Marco Consolaro and Alessandro Di Gioia, 2019
            {% endmarkdown %}

            <h4>Technical topics</h4>
            {% markdown %}
* [Clean Code: A Handbook of Agile Software Craftsmanship](https://www.goodreads.com/book/show/3735293-clean-code), Robert C. Martin, 2007
* [Refactoring: Improving the Design of Existing Code](https://www.goodreads.com/book/show/44936.Refactoring) Martin Fowler, Kent Beck and Don Robert, 1999
* [Working Effectively with Legacy Code](https://www.goodreads.com/book/show/44919.Working_Effectively_with_Legacy_Code), Michael Feathers, 2004
* [Domain-Driven Design Distilled](https://www.goodreads.com/book/show/28602719-domain-driven-design-distilled), Vaughn Vernon, 2016
* [Continuous Delivery](https://www.goodreads.com/book/show/8686650-continuous-delivery), David Farley and Jez Humble, 2010
            {% endmarkdown %}
        </div>
    </div>

    <div class="row">
        {{ include('parts/hire-card-lg-12.html.twig') }}
    </div>

{% endblock %}


