{% extends 'layout.html.twig' %}

{% block html_title %}Jeroen De Dauw{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <p style="margin-bottom: 0">
                My name is Jeroen De Dauw. In my professional life I am a Software Craftsman with a passion for effective value delivery.
                Besides being an entrepreneur and occasional consultant, I am the Technical Director of
                <a href="https://professional.wiki/">Professional Wiki</a>. You might know me from my
                <a href="{{ path('craftsmanship') }}">talks and blog posts on software design</a>,
                my <a href="{{ path('open-source') }}">involvement in the open source world</a>
                or my <a href="{{ path('wikidata') }}">contributions to Wikidata</a> as Software Architect at Wikimedia.
            </p>
        </div>
    </div>

    <div class="line"></div>

    <div class="row">
        <div class="col-md-12">
            <h2>Blog</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <strong>Highlights</strong>
            <ul class="list-unstyled" style="margin-bottom: 0">
                <li><a href="https://www.entropywins.wtf/blog/2017/09/06/the-fallacy-of-dry/">The Fallacy of DRY</a></li>
                <li><a href="https://www.entropywins.wtf/blog/2017/01/02/simple-is-not-easy/">Simple is not easy</a></li>
                <li><a href="https://www.entropywins.wtf/blog/2016/11/24/implementing-the-clean-architecture/">Implementing the Clean Architecture</a></li>
                <li><a href="https://www.entropywins.wtf/blog/2018/08/14/clean-architecture-bounded-contexts/">Clean Architecture + Bounded Contexts</a></li>
                <li><a href="https://www.entropywins.wtf/blog/2018/08/30/base-libraries-should-be-stable/">Base Libraries Should be Stable</a></li>
                <li><a href="https://www.entropywins.wtf/blog/2018/08/01/clean-architecture-usecase-tests/">Clean Architecture: UseCase tests</a></li>
                <li><a href="https://www.entropywins.wtf/blog/2017/02/17/why-every-single-argument-of-dan-north-is-wrong/">Why Every Single Argument of Dan North is Wrong</a></li>
                <li><a href="https://www.entropywins.wtf/blog/2016/05/25/is-pair-programming-really-worth-it/">Is Pair Programming worth it?</a></li>
                <li><a href="https://www.entropywins.wtf/blog/2016/05/24/i-t-a-k-e-2016/">I T.A.K.E. 2016</a></li>
                <li><a href="https://www.entropywins.wtf/blog/2016/01/30/missing-in-php7/">Missing in PHP7</a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <strong>Latest posts</strong>
            <ul class="list-unstyled" style="margin-bottom: 0">
                {% for post in posts|slice(0, 10) %}
                    <li><a href="{{ post.link|e }}">{{ post.title|raw }}</a></li>
                    {#<small>({{ post.date|date }})</small>#}
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="line"></div>

    <div class="row">
        <div class="col-md-6">
            <h2>You can find me on</h2>
            <ul>
                <li><a href="https://github.com/JeroenDeDauw">GitHub</a></li>
                <li><a href="https://packagist.org/users/Jeroen%20De%20Dauw/">Packagist</a></li>
                <li><a href="https://keybase.io/jeroendedauw">Keybase</a></li>
                <li><a href="https://www.openhub.net/accounts/jeroendedauw">OpenHub</a></li>
                <li><a href="https://www.goodreads.com/user/show/16821921-jeroen-de-dauw">Goodreads</a></li>
                <li><a href="https://www.kiva.org/lender/jeroendedauw">Kiva</a></li>
                <li><a href="https://boincstats.com/en/stats/-1/user/detail/2496262/overview">BOINC</a></li>
                <li><a href="https://www.linkedin.com/in/jeroendedauw/">LinkedIn</a></li>
                <li><a href="https://www.mediawiki.org/wiki/User:Jeroen_De_Dauw">MediaWiki.org</a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Contact</h2>
            <ul class="list-unstyled">
                <li><strong>Email</strong></li>
                <li>MyFullName@gmail.com</li>
                <li style="margin-top: 7px"><strong>Twitter</strong></li>
                <li><a href="https://twitter.com/JeroenDeDauw">@JeroenDeDauw</a></li>
                <li style="margin-top: 7px"><strong>Freenode</strong></li>
                <li>JeroenDeDauw (#wikidata)</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div id="mc_embed_signup" style="margin-top: 0.5em">
                <form action="https://wtf.us19.list-manage.com/subscribe/post?u=5e9453f7bede9f5b0220b2c42&amp;id=9df25d9e9d" method="post"
                      id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate
                      style="padding: 0;">
                    <div id="mc_embed_signup_scroll">
                        <div>
                            Subscribe to my low-traffic mailing list on software design and receive exclusive discounts:
                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email@example.com">
                            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" style="width: 100px; display: inline; padding: 0">
                        </div>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5e9453f7bede9f5b0220b2c42_9df25d9e9d" tabindex="-1" value=""></div>

                    </div>
                </form>
            </div>
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
            <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        </div>
    </div>

{% endblock %}


