{% extends 'layout.html.twig' %}

{% block html_title %}Jeroen De Dauw{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <p>
                My name is Jeroen De Dauw. In my professional life I am a Software Craftsman with a passion for effective value delivery.
                Besides being the software architect at Wikimedia Deutschland I am an entrepreneur, technical director of Professional.Wiki and
                occasional consultant. You might know me from my talks and
                <a href="{{ app.request.basepath }}/craftsmanship">blog posts on software design and clean code</a>, or from my
                <a href="{{ app.request.basepath }}/projects">involvement in the open source world</a> and with projects such
                as <a href="{{ app.request.basepath }}/wikidata">Wikidata</a> and <a href="{{ app.request.basepath }}/smw">Semantic MediaWiki</a>.
            </p>
        </div>
    </div>

    <div class="line"></div>

    <div class="row">
        <div class="col-md-12">
            <h2>Blog</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p>Highlights</p>
            <ul class="list-unstyled">
                <li><a href="https://www.entropywins.wtf/blog/2017/09/06/the-fallacy-of-dry/">The Fallacy of DRY</a></li>
                <li><a href="https://www.entropywins.wtf/blog/2017/01/02/simple-is-not-easy/">Simple is not easy</a></li>
                <li><a href="https://www.entropywins.wtf/blog/2016/11/24/implementing-the-clean-architecture/">Implementing the Clean Architecture</a></li>
                <li><a href="https://www.entropywins.wtf/blog/2018/08/14/clean-architecture-bounded-contexts/">Clean Architecture + Bounded Contexts</a></li>
                <li><a href="https://www.entropywins.wtf/blog/2018/08/30/base-libraries-should-be-stable/">Base Libraries Should be Stable</a></li>
                <li><a href="https://www.entropywins.wtf/blog/2018/08/01/clean-architecture-usecase-tests/">Clean Architecture: UseCase tests</a></li>
                <li><a href="https://www.entropywins.wtf/blog/2017/02/17/why-every-single-argument-of-dan-north-is-wrong/">Why Every Single Argument of Dan North is Wrong</a></li>
                <li><a href="https://www.entropywins.wtf/blog/2016/05/25/is-pair-programming-really-worth-it/">Is Pair Programming worth it?</a></li>
                <li><a href="https://www.entropywins.wtf/blog/2016/05/24/i-t-a-k-e-2016/">I T.A.K.E. 2016</a></li>
                <li><a href="https://www.entropywins.wtf/blog/2016/01/30/missing-in-php7/">Missing in PHP7</a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <p>Latest posts</p>
            <ul class="list-unstyled">
                {% for post in posts|slice(0, 10) %}
                    <li><a href="{{ post.link|e }}">{{ post.title|raw }}</a></li>
                    {#<small>({{ post.date|date }})</small>#}
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="line"></div>

    <div class="row">
        <div class="col-md-6">
            <h2>You can find me on</h2>
            <ul>
                <li><a href="https://github.com/JeroenDeDauw">GitHub</a></li>
                <li><a href="https://packagist.org/users/Jeroen%20De%20Dauw/">Packagist</a></li>
                <li><a href="https://keybase.io/jeroendedauw">Keybase</a></li>
                <li><a href="https://www.openhub.net/accounts/jeroendedauw">OpenHub</a></li>
                <li><a href="https://www.goodreads.com/user/show/16821921-jeroen-de-dauw">Goodreads</a></li>
                <li><a href="https://www.kiva.org/lender/jeroendedauw">Kiva</a></li>
                <li><a href="https://boincstats.com/en/stats/-1/user/detail/2496262/overview">BOINC</a></li>
                <li><a href="https://www.linkedin.com/in/jeroendedauw/">LinkedIn</a></li>
                <li><a href="https://www.mediawiki.org/wiki/User:Jeroen_De_Dauw">MediaWiki.org</a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Contact</h2>
            <ul class="list-unstyled">
                <li><strong>Email</strong></li>
                <li>MyFullName@gmail.com</li>
                <li style="margin-top: 7px"><strong>Twitter</strong></li>
                <li><a href="https://twitter.com/JeroenDeDauw">@JeroenDeDauw</a></li>
                <li style="margin-top: 7px"><strong>Freenode</strong></li>
                <li>JeroenDeDauw (#wikidata)</li>
            </ul>
        </div>
    </div>

{% endblock %}


