{% extends 'layout.html.twig' %}

{% block html_title %}MediaWiki - Jeroen De Dauw{% endblock %}

{% block body %}

    <div class="row mb-2">
        <div class="col-lg-12">
            <h1>MediaWiki</h1>

            <p>
                I have been working with <a href="https://www.mediawiki.org">MediaWiki</a>, the software
                behind Wikipedia, since 2009. During these 10+ years I have worked for several
                companies across the globe, including Google and the Wikimedia Foundation. Between 2012 and 2019
                I worked for Wikimedia Deutschland as software architect, primarily on the
                <a href="{{ path('wikidata') }}">Wikidata project</a>. I created
                over a dozen MediaWiki extensions, contributed to many more and am one of the maintainers of
                <a href="{{ path('smw') }}">Semantic MediaWiki</a>.
            </p>

            <h3>My MediaWiki services and projects</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="{{ path('wikidata') }}"><img class="card-img-top" src="{{ asset('images/mw/wd.png') }}" alt="Wikidata / Wikibase"></a>
                <div class="card-body">
                    <h4 class="card-title">Wikidata / Wikibase</h4>
                    <p class="card-text">
                        Core developer with most contributions since 2012.
                        <br>Director of <a href="https://wikibase.consulting/">The Wikibase Consultancy</a>.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">Professional.Wiki</h4>
                    <p class="card-text" style="margin-bottom: 5px">
                        I am CEO of <a href="https://professional.wiki/">Professional.Wiki</a>. Contact us for:
                    </p>
                    <ul style="margin-top: 0; margin-bottom: 0">
                        <li><a href="https://www.pro.wiki">MediaWiki hosting</a> with instant setup</li>
                        <li>
                            <a href="https://professional.wiki/en/mediawiki-development">MediaWiki development</a>
                            or <a href="https://professional.wiki/en/mediawiki-theme-development">MediaWiki Themes</a>
                        </li>
                        <li>
                            <a href="https://professional.wiki/en/mediawiki-upgrade-services">MediaWiki upgrades</a>
                            or <a href="https://professional.wiki/en/migration-to-mediawiki">MediaWiki migration</a>
                        </li>
                        <li><a href="https://professional.wiki/en/mediawiki-consulting-services">MediaWiki Consulting Services</a></li>
                        <li><a href="https://professional.wiki/en/mediawiki-and-ai">MediaWiki and AI</a></li>
                        <li>
                            <a href="https://professional.wiki/en/semantic-mediawiki-services">Semantic MediaWiki</a>
                            or <a href="https://professional.wiki/en/wikibase-wikidata-and-knowledge-graphs">Wikibase Services</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="{{ path('smw') }}"><img class="card-img-top" src="{{ asset('images/mw/smw-monitors.jpg') }}" alt="Semantic MediaWiki"></a>
                <div class="card-body">
                    <h4 class="card-title">Semantic MediaWiki</h4>
                    <p class="card-text">
                        Maintainer since 2011. On 1500+ public wikis. 80+ releases. 70+ contributors. Contract work for several companies.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="https://maps.extension.wiki"><img class="card-img-top" src="{{ asset('images/mw/maps.png') }}" alt="Maps extension for MediaWiki"></a>
                <div class="card-body">
                    <h4 class="card-title">Maps</h4>
                    <p class="card-text">
                        Created in 2009.
                        On 1000+ public wikis.
                        100+ releases.
                        40+ contributors.
                        Contract work for several companies.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <div class="card-body" style="padding-right: 0">
                    <h4 class="card-title">Commercial projects</h4>
                    <ul class="mediawiki-extensions card-text" style="list-style: none; padding-left: 0;">
                        <li>
                            <a href="https://professional.wiki/en/extension/wikibase-export">Wikibase Export</a> -
                            Created in 2023 for Universität Mannheim
                        </li>
                        <li>
                            <a href="https://rdf.wikibase.wiki">Wikibase RDF</a> -
                            Created in 2022 for Rhizome
                        </li>
                        <li>
                            <a href="https://github.com/ProfessionalWiki/AutomatedValues#automated-values">Automated Values</a> -
                            <a href="https://wikibase.consulting/automating-values-in-wikibase/">Created in 2022</a> for the Ministry of Culture
                        </li>
                        <li>
                            <a href="https://github.com/ProfessionalWiki/ExternalContent#external-content">External Content</a> -
                            <a href="https://professional.wiki/en/news/external-content">Created in 2021</a> for Pega
                        </li>
                        <li>
                            <a href="https://github.com/ProfessionalWiki/WikibaseEdtf#wikibase-edtf">Wikibase EDTF</a> -
                            <a href="https://wikibase.consulting/wikibase-edtf/">Created in 2021</a> for the Ministry of Culture
                        </li>
                        
                        <li>
                            <a href="https://github.com/ProfessionalWiki/GND">GND</a> -
                            Created in 2021 for the German National Library
                        </li>
                    
                        <li>
                            <a href="https://github.com/ProfessionalWiki/WikibaseLocalMedia#wikibase-local-media">Wikibase Local Media</a> -
                            <a href="https://professional.wiki/en/news/wikibase-local-media">Created in 2020</a> for <a href="https://rhizome.org/">Rhizome</a>
                        </li>

                        <li>
                            <a href="https://github.com/ProfessionalWiki/Network#network">Network</a> -
                            <a href="https://professional.wiki/en/news/mediawiki-page-network">Created in 2020</a> for <a href="https://www.kdz.eu/">KDZ</a>
                        </li>

                        <li>
                            <a href="https://github.com/ProfessionalWiki/SemanticWikibase#semantic-wikibase">Semantic Wikibase</a> -
                            <a href="https://professional.wiki/en/news/semantic-wikibase-released">Created in 2020</a> for a client
                        </li>

                        <li>
                            <a href="https://github.com/ProfessionalWiki/ModernTimeline#modern-timeline">Modern Timeline</a> -
                            Created in 2019 for <a href="https://www.kdz.eu/">KDZ</a>
                        </li>

                        <li>
                            <a href="https://www.mediawiki.org/wiki/Extension:Semantic_Watchlist">Semantic Watchlist</a> -
                            Created in 2011 for the <a href="https://www.ieee.org/">IEEE</a>
                        </li>

                        <li>
                            <a href="https://www.mediawiki.org/wiki/Extension:Push">Push</a> -
                            Created in 2010 for <a href="https://www.ti.com/">Texas Instruments</a>
                        </li>

                        <li>
                            <a href="https://www.mediawiki.org/wiki/Extension:Survey">Survey</a> -
                            Created in 2011 for the <a href="https://www.ieee.org/">IEEE</a>
                        </li>

                        <li>
                            <a href="https://www.mediawiki.org/wiki/Extension:Live_Translate">Live Translate</a> -
                            Created in 2010 for <a href="https://www.ti.com/">Texas Instruments</a>
                        </li>

                        <li>
                            <a href="https://www.mediawiki.org/w/index.php?title=Extension:Contest&oldid=2200820">Contest</a> -
                            Created in 2011 for the <a href="https://www.wikimedia.org/">Wikimedia Foundation</a>
                        </li>

                        <li>
                            <a href="https://www.mediawiki.org/w/index.php?title=Extension:Education_Program&oldid=2793140">Education Program</a> -
                            Created 2012 for <a href="https://www.wikimedia.org/">Wikimedia Foundation</a>
                        </li>

                        <li>
                            <a href="https://www.mediawiki.org/wiki/Extension:Semantic_Image_Input">Semantic Image Input</a> -
                            Created in 2011 for <a href="http://whoinspired.com/">WhoInspired</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <div class="card-body" style="padding-right: 0">
                    <h4 class="card-title">Community projects</h4>
                    <ul class="mediawiki-extensions card-text mb-1" style="list-style: none; padding-left: 0;">
                        <li>
                            <a href="https://www.mediawiki.org/wiki/Skin:Chameleon">Chameleon</a> -
                            Maintainer since 2020
                        </li>

                        <li>
                            <a href="https://github.com/JeroenDeDauw/SubPageList#subpagelist">SubPageList</a> -
                            Creator and maintainer since 2010
                        </li>

                        <li>
                            <a href="https://www.semantic-mediawiki.org/wiki/Semantic_Result_Formats">Semantic Result Formats</a> -
                            Maintainer since 2011
                        </li>

                        <li>
                            <a href="https://www.mediawiki.org/wiki/Extension:GitHub">GitHub</a> -
                            Creator and maintainer since 2013
                        </li>

                        <li>
                            <a href="https://www.mediawiki.org/wiki/Extension:Nuke">Nuke</a> -
                            Significant contributions in 2012
                        </li>

                        <li>
                            <a href="https://github.com/JeroenDeDauw/ParserHooks">ParserHooks</a> -
                            Created in 2013
                        </li>

                        <li>
                            <a href="https://github.com/JeroenDeDauw/Validator">Validator</a> -
                            Created in 2009
                        </li>

                        <li>
                            <a href="https://www.mediawiki.org/wiki/Extension:Spark">Spark</a> -
                            Created in 2011
                        </li>
                    </ul>

                    <p>Plus contributions to <a href="https://www.mediawiki.org/wiki/User:Jeroen_De_Dauw">dozens of extensions</a></p>

                    <p class="mb-0">Please consider <a href="https://github.com/sponsors/JeroenDeDauw">sponsoring my work</a></p>
                </div>
            </div>
        </div>

        {{ include('parts/hire-card-lg-12.html.twig') }}
    </div>

    <div class="line"></div>

    {{ include('parts/prowiki.html.twig') }}

{% endblock %}


