{% extends 'layout.html.twig' %}

{% block html_title %}MediaWiki - Jeroen De Dauw{% endblock %}

{% block body %}

    <div class="row mb-2">
        <div class="col-lg-12">
            <h1>MediaWiki</h1>

            <p>
                I have been working with <a href="https://www.mediawiki.org">MediaWiki</a>, the software
                behind Wikipedia, since 2009. During these 10+ years I have worked for several
                companies across the globe, including Google and the Wikimedia Foundation. Between 2012 and 2019
                I worked for Wikimedia Deutschland as software architect, primarily on the
                <a href="{{ path('wikidata') }}">Wikidata project</a>. I created
                over a dozen MediaWiki extensions, contributed to many more and am one of the maintainers of
                <a href="{{ path('smw') }}">Semantic MediaWiki</a>.
            </p>

            <h3>Wiki services</h3>

            <p>
                I'm founder and technical director of <a href="https://professional.wiki">Professional Wiki</a>,
                a wiki consulting and hosting company. We
                are <a href="https://professional.wiki/en/about">MediaWiki professionals</a> that strive to provide
                holistic, high quality and sustainable <a href="https://professional.wiki/en/services">wiki services</a>.
                These services include <a href="https://professional.wiki/en/hosting">fully managed wiki hosting</a>,
                software upgrades and custom development. <a href="https://professional.wiki/en/contact">Get in touch</a>
                if you have any questions.
            </p>

            <h3>My MediaWiki projects</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="{{ path('smw') }}"><img class="card-img-top" src="{{ asset('images/mw/smw-monitors.jpg') }}" alt="Semantic MediaWiki"></a>
                <div class="card-body">
                    <h4 class="card-title">Semantic MediaWiki</h4>
                    <p class="card-text">
                        Maintainer since 2011. On 1500+ public wikis. 80+ releases. 70+ contributors. Contract work for several companies.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="https://github.com/JeroenDeDauw/Maps#maps"><img class="card-img-top" src="{{ asset('images/mw/maps.png') }}" alt="Maps extension for MediaWiki"></a>
                <div class="card-body">
                    <h4 class="card-title">Maps</h4>
                    <p class="card-text">
                        Created in 2009. On 1000+ public wikis. 60+ releases. 40+ contributors. Contract work for several companies.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="{{ path('wikidata') }}"><img class="card-img-top" src="{{ asset('images/mw/wd.png') }}" alt="Wikidata / Wikibase"></a>
                <div class="card-body">
                    <h4 class="card-title">Wikidata / Wikibase</h4>
                    <p class="card-text">
                        Core developer with most contributions since 2012. Wikidata has over 50 million data items.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <div class="card-body" style="padding-right: 0">
                    <h4 class="card-title">Commercial projects</h4>
                    <p class="card-text">
                    <ul class="mediawiki-extensions" style="list-style: none; padding-left: 0;">
                        <li>
                            <a href="https://www.mediawiki.org/wiki/Extension:Semantic_Watchlist">Semantic Watchlist</a> -
                            Created in 2011 for the <a href="https://www.ieee.org/">IEEE</a>
                        </li>

                        <li>
                            <a href="https://www.mediawiki.org/wiki/Extension:Push">Push</a> -
                            Created in 2010 for <a href="https://www.ti.com/">Texas Instruments</a>
                        </li>

                        <li>
                            <a href="https://www.mediawiki.org/wiki/Extension:Survey">Survey</a> -
                            Created in 2011 for the <a href="https://www.ieee.org/">IEEE</a>
                        </li>

                        <li>
                            <a href="https://www.mediawiki.org/wiki/Extension:Live_Translate">Live Translate</a> -
                            Created in 2010 for <a href="https://www.ti.com/">Texas Instruments</a>
                        </li>

                        <li>
                            <a href="https://www.mediawiki.org/w/index.php?title=Extension:Contest&oldid=2200820">Contest</a> -
                            Created in 2011 for the <a href="https://www.wikimedia.org/">Wikimedia Foundation</a>
                        </li>

                        <li>
                            <a href="https://www.mediawiki.org/w/index.php?title=Extension:Education_Program&oldid=2793140">Education Program</a> -
                            Created 2012 for <a href="https://www.wikimedia.org/">Wikimedia Foundation</a>
                        </li>

                        <li>
                            <a href="https://www.mediawiki.org/wiki/Extension:Semantic_Image_Input">Semantic Image Input</a> -
                            Created in 2011 for <a href="http://whoinspired.com/">WhoInspired</a>
                        </li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>


        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <div class="card-body" style="padding-right: 0">
                    <h4 class="card-title">Community projects</h4>
                    <p class="card-text">
                    <ul class="mediawiki-extensions" style="list-style: none; padding-left: 0;">
                        <li>
                            <a href="https://github.com/JeroenDeDauw/SubPageList#subpagelist">SubPageList</a> -
                            Creator and maintainer since 2010
                        </li>

                        <li>
                            <a href="https://www.mediawiki.org/wiki/Extension:GitHub">GitHub</a> -
                            Creator and maintainer since 2013
                        </li>

                        <li>
                            <a href="https://www.mediawiki.org/wiki/Extension:Nuke">Nuke</a> -
                            Significant contributions in 2012
                        </li>

                        <li>
                            <a href="https://github.com/JeroenDeDauw/ParserHooks">ParserHooks</a> -
                            Created in 2013
                        </li>

                        <li>
                            <a href="https://github.com/JeroenDeDauw/Validator">Validator</a> -
                            Created in 2009
                        </li>

                        <li>
                            <a href="https://www.semantic-mediawiki.org/wiki/Semantic_Result_Formats">Semantic Result Formats</a> -
                            Maintainer since 2011
                        </li>

                        <li>
                            <a href="https://www.mediawiki.org/wiki/Extension:Spark">Spark</a> -
                            Created in 2011
                        </li>

                        <li>
                            Contributions to <a href="https://www.mediawiki.org/wiki/User:Jeroen_De_Dauw">dozens of extensions</a>
                        </li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


