{% extends 'layout.html.twig' %}

{% block html_title %}Open Source - Jeroen De Dauw{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <h1>My open source projects</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="{{ path('mediawiki') }}">
                    <img class="card-img-top" src="{{ asset('images/os/wp-in-monitor.jpg') }}" alt="MediaWiki">
                </a>
                <div class="card-body">
                    <h4 class="card-title">MediaWiki</h4>
                    <p class="card-text">
                        Most of my open source work is related to <a href="{{ path('mediawiki') }}">MediaWiki</a>,
                        <a href="{{ path('smw') }}">Semantic MediaWiki</a> or
                        <a href="{{ path('wikidata') }}">Wikidata</a>.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="https://www.entropywins.wtf/blog/2016/11/24/rewriting-the-wikimedia-deutschland-funrdraising/">
                    <img class="card-img-top" src="{{ asset('images/os/context-diagram.png') }}" alt="Wikimedia Deutschland fundraising application">
                </a>
                <div class="card-body">
                    <h4 class="card-title">Wikimedia Deutschland fundraising</h4>
                    <p class="card-text">
                        After leading the creation of this application I have written and spoken multiple times about its architecture.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2>PHP libraries</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <h4 class="card-header"><a href="https://github.com/wmde/Diff">Diff</a></h4>
                <div class="card-body">
                    <p class="card-text">
                        Small library for representing, computing and applying diffs between structured data. Used by Wikipedia.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="https://travis-ci.org/wmde/Diff"><img src="https://travis-ci.org/wmde/Diff.svg?branch=master" /></a>
                    <a href="https://scrutinizer-ci.com/g/wmde/Diff/" class="not-phone"><img src="https://scrutinizer-ci.com/g/wmde/Diff/badges/coverage.png?b=master" /></a>
                    <a href="https://packagist.org/packages/diff/diff"><img src="https://poser.pugx.org/diff/diff/d/total.png"></a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <h4 class="card-header"><a href="https://github.com/DataValues/Geo">DataValues Geo</a></h4>
                <div class="card-body">
                    <p class="card-text">
                        Small library for parsing, formatting and representing coordinates. Used by Wikipedia.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="https://github.com/DataValues/Geo/actions/workflows/php.yml?query=workflow%3Aphp"><img src="https://img.shields.io/github/workflow/status/DataValues/Geo/PHP%20Composer" /></a>
                    <a href="https://scrutinizer-ci.com/g/DataValues/Geo/" class="not-phone"><img src="https://scrutinizer-ci.com/g/DataValues/Geo/badges/coverage.png?b=master" /></a>
                    <a href="https://packagist.org/packages/data-values/geo"><img src="https://poser.pugx.org/data-values/geo/d/total.png" /></a>
                </div>
            </div>
        </div>

        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <h4 class="card-header"><a href="https://github.com/JeroenDeDauw/FileFetcher">File Fetcher</a></h4>
                <div class="card-body">
                    <p class="card-text">
                        Tiny library providing an OO file_get_contents alternative, including adapters and decorators.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="https://travis-ci.org/JeroenDeDauw/FileFetcher"><img src="https://travis-ci.org/JeroenDeDauw/FileFetcher.svg?branch=master" /></a>
                    <a href="https://scrutinizer-ci.com/g/JeroenDeDauw/FileFetcher/" class="not-phone"><img src="https://scrutinizer-ci.com/g/JeroenDeDauw/FileFetcher/badges/coverage.png?b=master" /></a>
                    <a href="https://packagist.org/packages/jeroen/file-fetcher"><img src="https://poser.pugx.org/jeroen/file-fetcher/d/total.png" /></a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <h4 class="card-header"><a href="https://github.com/JeroenDeDauw/PsrLogTestDoubles">PsrLogTestDoubles</a></h4>
                <div class="card-body">
                    <p class="card-text">
                        Test Doubles for the PSR-3 Logger Interface.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="https://github.com/JeroenDeDauw/PsrLogTestDoubles/actions?query=workflow%3ACI"><img src="https://img.shields.io/github/workflow/status/JeroenDeDauw/PsrLogTestDoubles/CI" /></a>
                    <a href="https://codecov.io/gh/JeroenDeDauw/PsrLogTestDoubles" class="not-phone"><img src="https://codecov.io/gh/JeroenDeDauw/PsrLogTestDoubles/branch/master/graph/badge.svg?token=GnOG3FF16Z" /></a>
                    <a href="https://packagist.org/packages/jeroen/psr-log-test-doubles"><img src="https://poser.pugx.org/jeroen/psr-log-test-doubles/d/total.png" /></a>
                </div>
            </div>
        </div>

        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <h4 class="card-header"><a href="https://github.com/JeroenDeDauw/ParamProcessor">ParamProcessor</a></h4>
                <div class="card-body">
                    <p class="card-text">
                        Processes parameters in declarative fashion. Written in 2010 so contains a lot of legacy code.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="https://travis-ci.org/JeroenDeDauw/ParamProcessor"><img src="https://travis-ci.org/JeroenDeDauw/ParamProcessor.svg?branch=master" /></a>
                    <a href="https://scrutinizer-ci.com/g/JeroenDeDauw/ParamProcessor/" class="not-phone"><img src="https://scrutinizer-ci.com/g/JeroenDeDauw/ParamProcessor/badges/coverage.png?b=master" /></a>
                    <a href="https://packagist.org/packages/param-processor/param-processor"><img src="https://poser.pugx.org/param-processor/param-processor/d/total.png" /></a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <h4 class="card-header"><a href="https://github.com/JeroenDeDauw/SimpleCache">Simple Cache</a></h4>
                <div class="card-body">
                    <p class="card-text">
                        Tiny library defining a minimalistic caching interface and provides some basic implementations.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="https://travis-ci.org/JeroenDeDauw/SimpleCache"><img src="https://travis-ci.org/JeroenDeDauw/SimpleCache.svg?branch=master" /></a>
                    <a href="https://scrutinizer-ci.com/g/JeroenDeDauw/SimpleCache/" class="not-phone"><img src="https://scrutinizer-ci.com/g/JeroenDeDauw/SimpleCache/badges/coverage.png?b=master" /></a>
                    <a href="https://packagist.org/packages/jeroen/simple-cache"><img src="https://poser.pugx.org/jeroen/simple-cache/d/total.png" /></a>
                </div>
            </div>
        </div>

        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <h4 class="card-header"><a href="https://github.com/wmde/Euro">Euro</a></h4>
                <div class="card-body">
                    <p class="card-text">
                        PHP value object for representing a positive amount of Euro.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="https://travis-ci.org/wmde/Euro"><img src="https://travis-ci.org/wmde/Euro.svg?branch=master" /></a>
                    <a href="https://scrutinizer-ci.com/g/wmde/Euro/" class="not-phone"><img src="https://scrutinizer-ci.com/g/wmde/Euro/badges/coverage.png?b=master" /></a>
                    <a href="https://packagist.org/packages/wmde/euro"><img src="https://poser.pugx.org/wmde/euro/d/total.png" /></a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <h4 class="card-header"><a href="https://github.com/wmde/Serialization">Serialization</a></h4>
                <div class="card-body">
                    <p class="card-text">
                        Tiny library defining interfaces for services that assist with serilization and deserialization.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="https://travis-ci.org/wmde/Serialization"><img src="https://travis-ci.org/wmde/Serialization.svg?branch=master" /></a>
                    <a href="https://scrutinizer-ci.com/g/wmde/Serialization/" class="not-phone"><img src="https://scrutinizer-ci.com/g/wmde/Serialization/badges/coverage.png?b=master" /></a>
                    <a href="https://packagist.org/packages/serialization/serialization"><img src="https://poser.pugx.org/serialization/serialization/d/total.png" /></a>
                </div>
            </div>
        </div>

        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <h4 class="card-header"><a href="https://github.com/JeroenDeDauw/BatchingIterator">Batching Iterator</a></h4>
                <div class="card-body">
                    <p class="card-text">
                        Tiny library providing an Iterator that batches requests for additional values.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="https://travis-ci.org/JeroenDeDauw/BatchingIterator"><img src="https://travis-ci.org/JeroenDeDauw/BatchingIterator.svg?branch=master" /></a>
                    <a href="https://scrutinizer-ci.com/g/JeroenDeDauw/BatchingIterator/" class="not-phone"><img src="https://scrutinizer-ci.com/g/JeroenDeDauw/BatchingIterator/badges/coverage.png?b=master" /></a>
                    <a href="https://packagist.org/packages/jeroen/batching-iterator"><img src="https://poser.pugx.org/jeroen/batching-iterator/d/total.png" /></a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <h4 class="card-header"><a href="https://github.com/onoi/message-reporter">Message Reporter</a></h4>
                <div class="card-body">
                    <p class="card-text">
                        Tiny library defining an interface to report arbitrary text messages.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="https://travis-ci.org/onoi/message-reporter"><img src="https://travis-ci.org/onoi/message-reporter.svg?branch=master" /></a>
                    <a href="https://scrutinizer-ci.com/g/onoi/message-reporter/" class="not-phone"><img src="https://scrutinizer-ci.com/g/onoi/message-reporter/badges/coverage.png?b=master" /></a>
                    <a href="https://packagist.org/packages/onoi/message-reporter"><img src="https://poser.pugx.org/onoi/message-reporter/d/total.png" /></a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <h4 class="card-header"><a href="https://github.com/ProfessionalWiki/EDTF">EDTF</a></h4>
                <div class="card-body">
                    <p class="card-text">
                        Extended Date/Time Format implementation <a href="https://wikibase.consulting/wikibase-edtf/">created in 2021</a> for the Luxembourg Ministry of Culture.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="https://github.com/ProfessionalWiki/EDTF/actions?query=workflow%3ACI"><img src="https://img.shields.io/github/workflow/status/ProfessionalWiki/EDTF/CI" /></a>
                    <a href="https://shepherd.dev/github/ProfessionalWiki/EDTF" class="not-phone"><img src="https://shepherd.dev/github/ProfessionalWiki/EDTF/coverage.svg" /></a>
                    <a href="https://packagist.org/packages/professional-wiki/edtf"><img src="https://poser.pugx.org/professional-wiki/edtf/d/total.png" /></a>
                </div>
            </div>
        </div>
    </div>

    {{ include('parts/wikibase-code.html.twig') }}

    <div class="row">
        <div class="col-lg-12">
            <h2>Supreme Commander maps</h2>

            <p>
                I maintain several survival maps (custom scenarios written in Lua) for Supreme Commander <a href="https://faforever.com/">Forged Alliance Forever</a>.
                These maps where created long ago by other people and I have been gradually cleaning up their code and adding features.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 portfolio-item">
            <div class="card h-100">
                <h4 class="card-header"><a href="https://github.com/JeroenDeDauw/FinalRushPro5">Final Rush Pro 5</a></h4>
                <img class="card-img-bottom" src="{{ asset('images/os/survival-final-rush.png') }}">
            </div>
        </div>

        <div class="col-md-4 portfolio-item">
            <div class="card h-100">
                <h4 class="card-header"><a href="https://github.com/JeroenDeDauw/Survival5thDimensionCenterEE">5th Dimension EE</a></h4>
                <img class="card-img-bottom" src="{{ asset('images/os/survival-center.png') }}">
            </div>
        </div>

        <div class="col-md-4 portfolio-item">
            <div class="card h-100">
                <h4 class="card-header"><a href="https://github.com/JeroenDeDauw/survival_horde_ee">Survival Horde EE</a></h4>
                <img class="card-img-bottom" src="{{ asset('images/os/survival-horde.png') }}">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 mb-4">
            <h2>Historical projects</h2>

            <ul>
                <li><strong><a href="http://queryr.wmflabs.org">QueryR API</a></strong> - a REST compliant webservice for accessing information stored in <a href="{{ app.request.basepath }}/wikidata">Wikidata</a> written during 2014 and 2015 in PHP</li>
                <li><strong><a href="https://github.com/JeroenDeDauw/Replicator">ReplicatoR</a></strong> - a CLI application to replicate Wikibase entities (mainly from <a href="{{ app.request.basepath }}/wikidata">Wikidata</a>) written during 2014 and 2015 in PHP</li>
                <li><strong><a href="{{ app.request.basepath }}/projects/skynet">Skynet</a></strong> - Travelling Salesman Problem solving application (using GALib) written during 2010 in C#</li>
                <li><strong><a href="{{ app.request.basepath }}/projects/galib">GALib</a></strong> - Genetic Algorithm library written during 2010 in C#</li>
                <li><strong><a href="{{ app.request.basepath }}/projects/bn-converter-pro">BN+ Converter Pro</a></strong> - A desktop application providing various text conversion utilities written between 2007 and 2010 in VB.Net</li>
                <li><strong><a href="{{ app.request.basepath }}/projects/bn-brute-force-hash-attacker">BN+ Brute Force Hash Attacker</a></strong> - A tool for brute forcing hashes written between 2008 and 2010 in VB.Net</li>
                <li><strong><a href="{{ app.request.basepath }}/projects/bn-library">BN+ Library</a></strong> - A .Net utilities library written between 2008 and 2010 in Visual Basic .Net</li>
                <li><strong><a href="{{ app.request.basepath }}/projects/art-of-defence-se4">Art of Defence SE4</a></strong> - A Command and Conquer: Generals custom map created between 2008 and 2010</li>
                <li><strong><a href="http://www.codeproject.com/Articles/jeroen-de-dauw#Article">These libraries in C# and VB.Net</a></strong> (external link)</li>
            </ul>

            <h2>See also</h2>

            <ul>
                <li><strong><a href="https://github.com/JeroenDeDauw?tab=repositories">My GitHub repository list</a></strong></li>
                <li><strong><a href="https://packagist.org/users/Jeroen%20De%20Dauw/">My Packagist profile</a></strong></li>
                <li><strong><a href="{{ path('mediawiki') }}">My MediaWiki projects</a></strong></li>
            </ul>
        </div>
    </div>

    <div class="row">
        {{ include('parts/hire-card-lg-12.html.twig') }}
    </div>

{% endblock %}


