{% extends 'layout.html.twig' %}

{% block html_title %}Semantic MediaWiki - Jeroen De Dauw{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <h1>Semantic MediaWiki</h1>

            <h2>My involvement</h2>

            <p>
                I am maintainer and release manager of <a href="https://www.semantic-mediawiki.org/wiki/Semantic_MediaWiki">Semantic MediaWiki</a>.
                Since 2009 I have made many contributions
                to Semantic MediaWiki and extensions, have given multiple presentations and did custom development
                for various companies and organizations. I am on the steering committee of the
                <a href="http://opensemanticdata.org/">Open Semantic Data Association</a>,
                which is a non-profit supporting the SMW project. I also represent SMW and
                <a href="{{ path('wikidata') }}">Wikidata</a> on the
                <a href="http://www.php-fig.org/">PHP Framework Interoperability group</a>.
            </p>

            <p>
                I'm founder and technical director of <a href="https://professional.wiki">Professional Wiki</a>,
                a wiki company with a (non-exclusive) focus on Semantic MediaWiki. We
                are <a href="https://professional.wiki/en/about">MediaWiki professionals</a> that strive to provide
                holistic, high quality and sustainable <a href="https://professional.wiki/en/services">wiki services</a>.
                These services include <a href="https://professional.wiki/en/hosting">fully managed wiki hosting</a>,
                software upgrades and custom development. <a href="https://professional.wiki/en/contact">Get in touch</a>
                if you have any questions.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2>Presentations</h2>

            <p>
                Note that the slides are generally not designed for after-talk usage.
                However, they are useful when watching the recording of a talk.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 portfolio-item">
            <div class="card h-100">
                <a href="https://jeroendedauw.github.io/slides/smwcon/2016fall/yearly/#/"><img class="card-img-top" src="{{ asset('images/slides/smw/smw2016.png') }}" alt="Yearly SMW overview 2016 - slide preview"></a>
                <div class="card-body">
                    <p style="margin: 0">
                        <a href="https://www.semantic-mediawiki.org/wiki/SMWCon_Fall_2016/Current_Status_and_Next_Steps_for_Semantic_MediaWiki">Abstract</a>
                        &nbsp;&bull;&nbsp; <a href="https://jeroendedauw.github.io/slides/smwcon/2016fall/yearly/#/">Slides</a>
                        &nbsp;&bull;&nbsp; <a href="https://www.youtube.com/watch?v=ElADzcPLUdk&list=PLw2YgbWET_phmswFqdtSMF689lI3f8jh4">Video</a>
                        &nbsp;&bull;&nbsp; <a href="https://www.semantic-mediawiki.org/wiki/SMWCon_Fall_2016">SMWCon Fall 2016</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-6 portfolio-item">
            <div class="card h-100">
                <a href="https://jeroendedauw.github.io/slides/smwcon/2015fall/yearly/#/"><img class="card-img-top" src="{{ asset('images/slides/smw/smw2015.png') }}" alt="Yearly SMW overview 2015 - slide preview"></a>
                <div class="card-body">
                    <p style="margin: 0">
                        <a href="https://www.semantic-mediawiki.org/wiki/SMWCon_Fall_2015/Current_Status_and_Next_Steps_for_Semantic_MediaWiki">Abstract</a>
                        &nbsp;&bull;&nbsp; <a href="https://jeroendedauw.github.io/slides/smwcon/2015fall/yearly/#/">Slides</a>
                        &nbsp;&bull;&nbsp; <a href="https://www.youtube.com/watch?v=hOzU-v1oITw&list=PLw2YgbWET_pgKPQj3McAyoeWCfYvfRFJU&index=11">Video</a>
                        &nbsp;&bull;&nbsp; <a href="https://www.semantic-mediawiki.org/wiki/SMWCon_Fall_2015">SMWCon Fall 2015</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-6 portfolio-item">
            <div class="card h-100">
                <a href="https://jeroendedauw.github.io/slides/smwcon/2014fall/yearly/#/"><img class="card-img-top" src="{{ asset('images/slides/smw/smw2014.png') }}" alt="Yearly SMW overview 2014 - slide preview"></a>
                <div class="card-body">
                    <p style="margin: 0">
                        <a href="https://semantic-mediawiki.org/wiki/SMWCon_Fall_2014/Current_Status_and_Next_Steps_for_SMW">Abstract</a>
                        &nbsp;&bull;&nbsp; <a href="https://jeroendedauw.github.io/slides/smwcon/2014fall/yearly/#/">Slides</a>
                        &nbsp;&bull;&nbsp; <a href="https://www.youtube.com/watch?v=a4WIPHeqCvU&list=PLv4ZNIEr6SqWjHJvegO9uLze1d7yy0jpk&index=10">Video</a>
                        &nbsp;&bull;&nbsp; <a href="https://www.semantic-mediawiki.org/wiki/SMWCon_Fall_2014">SMWCon Fall 2014</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-6 portfolio-item">
            <div class="card h-100">
                <a href="https://jeroendedauw.github.io/slides/smwcon/2013fall/yearly/#/"><img class="card-img-top" src="{{ asset('images/slides/smw/smw2013.png') }}" alt="Yearly SMW overview 2013 - slide preview"></a>
                <div class="card-body">
                    <p style="margin: 0">
                        <a href="https://semantic-mediawiki.org/wiki/SMWCon_Fall_2013/Current_status_and_next_steps_for_SMW">Abstract</a>
                        &nbsp;&bull;&nbsp; <a href="https://jeroendedauw.github.io/slides/smwcon/2013fall/yearly/#/">Slides</a>
                        &nbsp;&bull;&nbsp; <a href="https://www.semantic-mediawiki.org/wiki/SMWCon_Fall_2013">SMWCon Fall 2013</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-6 portfolio-item">
            <div class="card h-100">
                <a href="http://jeroendedauw.github.io/slides/smwcon/2013spring/yearly/"><img class="card-img-top" src="{{ asset('images/slides/smw/smw2013spring.png') }}" alt="Yearly SMW overview 2013 spring - slide preview"></a>
                <div class="card-body">
                    <p style="margin: 0">
                        <a href="https://semantic-mediawiki.org/wiki/SMWCon_Spring_2013/Current_status_and_next_steps_for_SMW">Abstract</a>
                        &nbsp;&bull;&nbsp; <a href="http://jeroendedauw.github.io/slides/smwcon/2013spring/yearly/">Slides</a>
                        &nbsp;&bull;&nbsp; <a href="https://www.semantic-mediawiki.org/wiki/SMWCon_Spring_2013">SMWCon Spring 2013</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-6 portfolio-item">
            <div class="card h-100">
                <a href="http://jeroendedauw.github.io/slides/smwcon/2012fall/"><img class="card-img-top" src="{{ asset('images/slides/smw/smw2012.png') }}" alt="Yearly SMW overview 2012 - slide preview"></a>
                <div class="card-body">
                    <p style="margin: 0">
                        <a href="https://semantic-mediawiki.org/wiki/SMWCon_Fall_2012/Current_status_and_next_steps_for_SMW">Abstract</a>
                        &nbsp;&bull;&nbsp; <a href="http://jeroendedauw.github.io/slides/smwcon/2012fall/">Slides</a>
                        &nbsp;&bull;&nbsp; <a href="http://www.youtube.com/watch?v=Fy0Ofz9VwTk">Video</a>
                        &nbsp;&bull;&nbsp; <a href="https://www.semantic-mediawiki.org/wiki/SMWCon_Fall_2012">SMWCon Fall 2012</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h4>Older presentations</h4>

            <ul>
                <li>
                    <a href="https://semantic-mediawiki.org/wiki/SMWCon_Fall_2013/Building_on_top_of_SMW">
                        <strong>Building on top of SMW</strong>
                    </a>
                    &nbsp;&ndash;&nbsp;<a href="http://jeroendedauw.github.io/slides/smwcon/2013fall/arch/">Slides</a>
                    &nbsp;&ndash;&nbsp;<a href="https://www.semantic-mediawiki.org/wiki/SMWCon_Fall_2013">SMWCon Fall 2013</a>
                    &nbsp;&ndash;&nbsp;Berlin
                </li>
                <li>
                    <a href="https://semantic-mediawiki.org/wiki/SMWCon_Fall_2013/Hands-on_session._Programming_SMW">
                        <strong>Programming SMW (Hands-on session)</strong>
                    </a>
                    &nbsp;&ndash;&nbsp;<a href="http://jeroendedauw.github.io/slides/smwcon/2013fall/dev/">Slides</a>
                    &nbsp;&ndash;&nbsp;<a href="https://www.semantic-mediawiki.org/wiki/SMWCon_Fall_2013">SMWCon Fall 2013</a>
                    &nbsp;&ndash;&nbsp;Berlin
                </li>
                <li>
                    <a href="https://semantic-mediawiki.org/wiki/SMWCon_Spring_2013/New_features_in_Maps_and_Semantic_Maps">
                        <strong>New features in Maps and Semantic Maps</strong>
                    </a>
                    &nbsp;&ndash;&nbsp;<a href="http://jeroendedauw.github.io/slides/smwcon/2013spring/maps/#maps-is-awesome.html">Slides</a>
                    &nbsp;&ndash;&nbsp;<a href="https://www.semantic-mediawiki.org/wiki/SMWCon_Spring_2013">SMWCon Spring 2013</a>
                    &nbsp;&ndash;&nbsp;New York City
                </li>
                <li>
                    <a href="http://bit.ly/19IhSE8">
                        <strong>Developing SMW (extensions)</strong>
                    </a>
                    &nbsp;&ndash;&nbsp;<a href="http://bit.ly/smw-dev">Slides</a>
                    &nbsp;&ndash;&nbsp;<a href="https://semantic-mediawiki.org/wiki/SMWCon_Fall_2012">SMWCon Fall 2012</a>
                    &nbsp;&ndash;&nbsp;Cologne
                </li>
                <li>
                    <a href="https://semantic-mediawiki.org/wiki/SMWCon_Fall_2012/New_features_in_Maps_and_Semantic_Maps">
                        <strong>New features in Maps and Semantic Maps</strong>
                    </a>
                    &nbsp;&ndash;&nbsp;<a href="http://jeroendedauw.github.com/slides/smwcon/2012fall/maps/#maps-is-awesome.html">Slides</a>
                    &nbsp;&ndash;&nbsp;<a href="http://www.youtube.com/watch?v=IF0_q8fisnY">Video</a>
                    &nbsp;&ndash;&nbsp;<a href="https://semantic-mediawiki.org/wiki/SMWCon_Fall_2012">SMWCon Fall 2012</a>
                    &nbsp;&ndash;&nbsp;Cologne
                </li>
                <li>
                    <a href="https://semantic-mediawiki.org/wiki/SMWCon_Fall_2012/New_features_in_Semantic_Result_Formats">
                        <strong>New features in Semantic Result Formats</strong>
                    </a>
                    &nbsp;&ndash;&nbsp;<a href="https://semantic-mediawiki.org/wiki/SMWCon_Fall_2012/New_features_in_Semantic_Result_Formats/Presentation">Slides</a>
                    &nbsp;&ndash;&nbsp;<a href="http://www.youtube.com/watch?v=iCo6up6Kftc">Video</a>
                    &nbsp;&ndash;&nbsp;<a href="https://semantic-mediawiki.org/wiki/SMWCon_Fall_2012">SMWCon Fall 2012</a>
                    &nbsp;&ndash;&nbsp;Cologne
                </li>
                <li>
                    <a href="http://ext.bn2vs.com/smwcon/srf/">
                        <strong>New features in Semantic Result Formats</strong>
                    </a>
                    &nbsp;&ndash;&nbsp;<a href="http://ext.bn2vs.com/smwcon/srf/">Slides</a>
                    &nbsp;&ndash;&nbsp;<a href="https://www.semantic-mediawiki.org/wiki/SMWCon_Spring_2012">SMWCon Spring 2012</a>
                    &nbsp;&ndash;&nbsp;Carlsbad USA
                </li>
                <li>
                    <a href="https://archive.fosdem.org/2012/schedule/event/smw.html">
                        <strong>Semantic MediaWiki</strong>
                    </a>
                    &nbsp;&ndash;&nbsp;<a href="https://archive.fosdem.org/2012/schedule/event/493/40_2011_12_14_FOSDEM2012_SMW.odp">Slides</a>
                    &nbsp;&ndash;&nbsp;<a href="https://www.youtube.com/watch?v=bQ8rab_J9OI">Video</a>
                    &nbsp;&ndash;&nbsp;<a href="https://archive.fosdem.org/2012/">FOSDEM 2012</a>
                    &nbsp;&ndash;&nbsp;Brussels
                </li>
                <li>
                    <a href="https://www.semantic-mediawiki.org/wiki/SMWCon_Fall_2011#Conference_days">
                        <strong>Watching structured data</strong>
                    </a>
                    &nbsp;&ndash;&nbsp;<a href="http://jeroendedauw.github.com/slides/smwcon/2011fall/swl/">Slides</a>
                    &nbsp;&ndash;&nbsp;<a href="https://www.semantic-mediawiki.org/wiki/SMWCon_Fall_2011">SMWCon Fall 2011</a>
                    &nbsp;&ndash;&nbsp;Berlin
                </li>
                <li>
                    <a href="https://www.semantic-mediawiki.org/wiki/SMWCon_Fall_2011#Conference_days">
                        <strong>The future of SMW visualizations</strong>
                    </a>
                    &nbsp;&ndash;&nbsp;<a href="http://jeroendedauw.github.com/slides/smwcon/2011fall/spark/">Slides</a>
                    &nbsp;&ndash;&nbsp;<a href="https://www.semantic-mediawiki.org/wiki/SMWCon_Fall_2011">SMWCon Fall 2011</a>
                    &nbsp;&ndash;&nbsp;Berlin
                </li>
                <li>
                    <a href="https://www.semantic-mediawiki.org/wiki/SMWCon_Fall_2011#Conference_days">
                        <strong>Semantic Maps</strong>
                    </a>
                    &nbsp;&ndash;&nbsp;<a href="http://jeroendedauw.github.com/slides/smwcon/2011fall/maps/">Slides</a>
                    &nbsp;&ndash;&nbsp;<a href="https://www.semantic-mediawiki.org/wiki/SMWCon_Fall_2011">SMWCon Fall 2011</a>
                    &nbsp;&ndash;&nbsp;Berlin
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2>Blog posts</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <ul class="list-unstyled" style="margin: 0">
                {% for post in posts|slice(0, 5) %}
                    <li><a href="{{ post.link|e }}">{{ post.title|raw }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="list-unstyled">
                {% for post in posts|slice(5, 10) %}
                    <li><a href="{{ post.link|e }}">{{ post.title|raw }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 mb-4">
            <p>
                View <a href="https://www.entropywins.wtf/blog/tag/smw/">all Semantic MediaWiki blog posts</a>.
            </p>
        </div>
    </div>

    <div class="row">
        {{ include('parts/hire-card-lg-12.html.twig') }}
    </div>

{% endblock %}


