{% extends 'layout.html.twig' %}

{% block html_title %}Wikidata & Wikibase - Jeroen De Dauw{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1>Wikidata & Wikibase</h1>

            <p>
                <a href="https://www.wikidata.org/">Wikidata</a> is a free knowledge base that can be read
                and edited by humans and machines alike. It centralizes storage and management of Wikipedia's
                structured data and provides access to it in various open formats. It is powered by the
                Wikibase software, which is build on top of the <a href="{{ path('mediawiki') }}">MediaWiki</a> platform
                and developed by Wikimedia Deutschland.
            </p>

            <p>
                I was part of the original Wikidata team that started development of the software in 2012 and launched
                the website a year later. In 2019, I left Wikimedia Deutschland after being the Software Architect there for 6
                years. During these years, I raked up over 6000 commits on the <a href="https://www.pro.wiki/wikibase-hosting">Wikibase software</a>,
                nearly twice that of
                anyone else. You can find me in the
                <a href="https://www.openhub.net/p/wikidata/contributors">contributors list on OpenHub</a>.
            </p>

            <h2>The Wikibase Consultancy</h2>

            <p>
                I run <a href="https://wikibase.consulting/">The Wikibase Consultancy</a>. We provide a wide range
                of <a href="https://wikibase.consulting/wikibase-services/">Wikibase services</a>.
            </p>

            <h2>Professional Wiki</h2>

            <p>
                My company <a href="https://professional.wiki">Professional Wiki</a> provides
                <a href="https://www.pro.wiki/wikibase-hosting">Wikibase cloud hosting</a> and
                <a href="https://professional.wiki/en/hosting/wikibase">dedicated Wikibase hosting</a>.
                We can also help you with <a href="https://professional.wiki/en/wikibase-software-development">Wikibase software development</a>
                and other <a href="https://professional.wiki/en/wikibase-wikidata-and-knowledge-graphs">professional Wikibase services</a>.
            </p>

            <h2>Wikibase endorsements</h2>

            <blockquote class="blockquote bg-white shadow rounded p-3" style="font-size: 1rem">
                <footer class="mb-2 font-weight-bold" style="font-size: 1.1rem">
                    Abraham Taherivand, Executive Director at Wikimedia Deutschland e. V.
                </footer>
                <p class="mb-0 font-italic">
                    "I had the pleasure to work with Jeroen at Wikimedia Deutschland. Jeroen is one of the most productive and passionate developers that I know. Without Jeroen, Wikidata would not have such a rich range of functions and would be built on a less flexible, lower-quality codebase and architecture. Jeroen has in-depth knowledge and broad experience about clean code and software architectures. I have always appreciated his professional attitude, collegial and reliable manner. He is an absolute win for any team and project!"
                </p>
            </blockquote>

            <blockquote class="blockquote bg-white shadow rounded p-3" style="font-size: 1rem">
                <footer class="mb-2 font-weight-bold" style="font-size: 1.1rem">
                    Denny Vrandečić, Wikidata Project Leader
                </footer>
                <p class="mb-0 font-italic">
                    "Jeroen is Technical Director at Professional.Wiki. Jeroen was working on Semantic MediaWiki and was one of the original developers on Wikibase at Wikimedia Deutschland. I had the pleasure of working with Jeroen for many years and have rarely found someone as dedicated as him towards the quality of the software he is working on."
                </p>
            </blockquote>

            <blockquote class="blockquote bg-white shadow rounded p-3" style="font-size: 1rem">
                <footer class="mb-2 font-weight-bold" style="font-size: 1.1rem">
                    Alaa Sarhan, Senior Engineer at Doodle
                </footer>
                <p class="mb-0 font-italic">
                    "Jeroen has been a key founding developer of Wikibase at Wikimedia Deutschland, where I had the pleasure to work with him at a later stage on that project. I have since appreciated his dedication to any project he works on, composed of his great understanding of first and advanced principles of software quality and evolution coupled with a pragmatic and business-oriented mindset."
                </p>
            </blockquote>

            <blockquote class="blockquote bg-white shadow rounded p-3" style="font-size: 1rem">
                <footer class="mb-2 font-weight-bold" style="font-size: 1.1rem">
                    Bernhard Krabina, Researcher at KDZ
                </footer>
                <p class="mb-0 font-italic">
                    "Jeroen is a very reliable and skilled developer. With Semantic MediaWiki, Wikibase and several other great MediaWiki extensions, such as Maps, ModernTimeline or Network, he is one of the most important contributors to these Open-Source-Projects. I will certainly continue working with him in the future."
                </p>
            </blockquote>
        </div>
    </div>

    {{ include('parts/wikibase-code.html.twig') }}

    <div class="row">
        <div class="col-lg-12">
            <h2>Presentations</h2>

            <p>
                Note that the slides are generally not designed for after-talk usage.
                However, they are useful when watching the recording of a talk.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 portfolio-item">
            <div class="card h-100">
                <a href="https://jeroendedauw.github.io/slides/smwcon/2014fall/wikibase/#/"><img class="card-img-top" src="{{ asset('images/slides/wikibase2014.png') }}" alt="Wikibase: The Software behind Wikidata - slide preview"></a>
                <div class="card-body">
                    <p style="margin: 0">
                        <a href="https://semantic-mediawiki.org/wiki/SMWCon_Fall_2014/Wikibase,_the_Software_behind_Wikidata">Abstract</a>
                        &nbsp;&bull;&nbsp; <a href="https://jeroendedauw.github.io/slides/smwcon/2014fall/wikibase/#/">Slides</a>
                        &nbsp;&bull;&nbsp; <a href="https://www.youtube.com/watch?v=H4GGd3UyA5E&list=PLv4ZNIEr6SqWjHJvegO9uLze1d7yy0jpk&index=8">Video</a>
                        &nbsp;&bull;&nbsp; <a href="https://semantic-mediawiki.org/wiki/SMWCon_Fall_2014">SMWCon Fall 2014</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2>Blog posts</h2>

            <p>View my latest <a href="https://wikibase.consulting/blog/">Wikibase blog posts</a></p>

            <p>View older <a href="https://www.entropywins.wtf/blog/tag/wikidata/">Wikidata blog posts</a></p>
        </div>
    </div>

    <div class="row">
        {{ include('parts/hire-card-lg-12.html.twig') }}
    </div>

    <div class="line"></div>

    {{ include('parts/prowiki.html.twig') }}

{% endblock %}


