<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{% block meta_description %}Software Craftsman{% endblock %}">
        <meta name="author" content="Jeroen De Dauw">

        <title>{% block html_title %}{% endblock %}</title>

        <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/modern-business.css') }}" rel="stylesheet">
        <link href="{{ asset('vendor/fontawesome/css/all.css') }}" rel="stylesheet">

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>
    </head>

    <body>
    <div class="wrapper">
        <nav id="sidebar">
            <ul class="list-unstyled" style="margin-top: 70px; margin-left: 30px; font-size: larger">
                <li>
                    <a href="{{ path('index') }}" class="{% if app.request.attributes.get('_route') == 'index' %}active-page{% endif %}">
                        Overview
                    </a>
                </li>
                <li>
                    <a href="{{ path('craftsmanship') }}" class="{% if app.request.attributes.get('_route') == 'craftsmanship' %}active-page{% endif %}">
                        Software craftsmanship
                    </a>
                </li>
                <li>
                    <a href="{{ path('open-source') }}" class="{% if app.request.attributes.get('_route') == 'open-source' %}active-page{% endif %}">
                        Open Source
                    </a>
                </li>
                <li>
                    <a href="{{ path('mediawiki') }}" class="{% if app.request.attributes.get('_route') == 'mediawiki' %}active-page{% endif %}">
                        MediaWiki
                    </a>
                </li>
                <li>
                    <a href="{{ path('smw') }}" class="{% if app.request.attributes.get('_route') == 'smw' %}active-page{% endif %}">
                        Semantic MediaWiki
                    </a>
                </li>
                <li>
                    <a href="{{ path('wikidata') }}" class="{% if app.request.attributes.get('_route') == 'wikidata' %}active-page{% endif %}">
                        Wikidata
                    </a>
                </li>
            </ul>

            <ul class="list-unstyled" style="margin-top: 70px; margin-left: 30px; font-size: larger">
                <li>
                    <a href="https://entropywins.wtf/blog">Jeroens blog</a>
                </li>
                <li>
                    <a href="https://professional.wiki">Professional.Wiki</a>
                </li>
            </ul>
        </nav>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top" id="mobileNavbar">
            <div class="container">
                <a class="navbar-brand" href="{{ path('index') }}">Jeroen De Dauw</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item {% if app.request.attributes.get('_route') == 'craftsmanship' %}active{% endif %}">
                            <a href="{{ path('craftsmanship') }}" class="nav-link">Software craftsmanship</a>
                        </li>
                        <li class="nav-item {% if app.request.attributes.get('_route') == 'open-source' %}active{% endif %}">
                            <a href="{{ path('open-source') }}" class="nav-link">Open Source</a>
                        </li>
                        <li class="nav-item {% if app.request.attributes.get('_route') == 'mediawiki' %}active{% endif %}">
                            <a href="{{ path('mediawiki') }}" class="nav-link">MediaWiki</a>
                        </li>
                        <li class="nav-item {% if app.request.attributes.get('_route') == 'smw' %}active{% endif %}">
                            <a href="{{ path('smw') }}" class="nav-link">Semantic MediaWiki</a>
                        </li>
                        <li class="nav-item {% if app.request.attributes.get('_route') == 'wikidata' %}active{% endif %}">
                            <a href="{{ path('wikidata') }}" class="nav-link">Wikidata</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.entropywins.wtf/blog/" class="nav-link">Blog</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="content">
            <div class="container-fluid">
                <div class="row mb-4" id="the-me">
                    <div class="col-md-2" id="duck" style="min-width: 170px">
                        <img src="{{ asset('images/logo.jpg') }}" alt="Jeroen De Dauw" class="img-fluid" style="width: 140px; min-width: 140px; height: 140px; margin-right: 25px">
                    </div>
                    <div class="col-md-9">
                        <h2 style="margin-top: 25px">
                            <span class="red">Jeroen De Dauw</span>
                            <br />Software Craftsman
                        </h2>
                    </div>
                </div>

                {% block body %}
                {% endblock %}

                {% block footer_line %}
                    <div class="line"></div>
                {% endblock %}
            </div>

        </div>
    </div>

    <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    </body>
</html>

