<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{% block meta_description %}Software Craftsman{% endblock %}">
        <meta name="author" content="Jeroen De Dauw">

        <title>{% block html_title %}{% endblock %}</title>

        <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/modern-business.css') }}" rel="stylesheet">
        <link href="{{ asset('vendor/fontawesome/css/all.css') }}" rel="stylesheet">

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>
    </head>

    <body>
    <div class="wrapper">
        <nav id="sidebar">
            <ul class="list-unstyled" style="margin-top: 70px; margin-left: 30px; font-size: larger">
                <li>
                    <a href="{{ path('index') }}">Overview</a>
                </li>
                <li>
                    <a href="{{ path('open-source') }}">Open Source</a>
                </li>
                <li>
                    <a href="{{ path('craftsmanship') }}">Software craftsmanship</a>
                </li>
                <li>
                    <a href="{{ path('smw') }}">Semantic MediaWiki</a>
                </li>
                <li>
                    <a href="{{ path('wikidata') }}">Wikidata</a>
                </li>
            </ul>

            <ul class="list-unstyled" style="margin-top: 70px; margin-left: 30px; font-size: larger">
                <li>
                    <a href="https://entropywins.wtf/blog">Jeroens blog</a>
                </li>
                <li>
                    <a href="https://professional.wiki">Professional.Wiki</a>
                </li>
            </ul>
        </nav>

        <div id="content">
            <div class="container-fluid">
                <div class="row mb-4">
                    <div class="col-sd-2">
                        <img src="{{ asset('images/logo.jpg') }}" alt="Jeroen De Dauw" class="img-fluid" style="width: 140px; margin-right: 25px">
                    </div>
                    <div class="col-sd-10">
                        <h2 style="margin-top: 25px">
                            <span class="red">Jeroen De Dauw</span>
                            <br />Software Craftsman
                        </h2>
                    </div>
                </div>

                {% block body %}
                {% endblock %}

                <div class="line"></div>
            </div>

        </div>
    </div>

    <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    </body>
</html>

